# Rust build artifacts
/target
/sdk/target
/program/target
/deploy

# Configuration files
.DS_Store

# testing
test-ledger

# surfpool simnet logs
.surfpool

node_modules
.turbo

playground/

# skills
.agents
skills-lock.json

.env
!.env.example